/******************************************************
XFCE WHISKER MENU
******************************************************/

@define-color whisker_selected_bg #9AB87C;
@define-color whisker_dark_bg #383838;
@define-color whisker_main_bg @whisker_dark_bg;
@define-color whisker_border #252525;
@define-color whisker_selected_mono #808080;

#whiskermenu-window * {
    border-left-color: @whisker_border;
    border-top-color: @whisker_border;
    border-right-color: @whisker_border;
    border-bottom-color: @whisker_border; }

/* Window */
#whiskermenu-window {
	background-color: @whisker_main_bg;
	color: #ccc; }

#whiskermenu-window scrollbar {
	background-color: @whisker_dark_bg;}
#whiskermenu-window scrollbar.top,
#whiskermenu-window scrollbar.bottom,
#whiskermenu-window scrollbar.left,
#whiskermenu-window scrollbar.right {
    border-bottom: 1px solid @whisker_border; }
#whiskermenu-window  scrollbar slider {
    border: 4px solid transparent; }

#whiskermenu-window border {
	border-color: @whisker_dark_bg; }

/* Buttons */
#whiskermenu-window button {
    border-width: 0px;
	color: #ccc; }
#whiskermenu-window button:hover {
	background-color: @whisker_selected_mono;
	color: #fff; }
#whiskermenu-window button:checked {
	background-color: @whisker_selected_mono;
	color: #fff; }

/* Entry */
#whiskermenu-window entry {
	background-color: @whisker_dark_bg;
	color: #fff;
	border-color: @whisker_border; }
#whiskermenu-window entry:focus {
	border-color: @whisker_selected_bg; }

/* Treeview */
#whiskermenu-window treeview {
	background-color: @whisker_dark_bg;
	color: #ccc; }
#whiskermenu-window treeview:hover {
	background-color: @whisker_selected_bg;
	color: #fff; }